# Ratkin 프로젝트 .gitignore
# Project/ 폴더만 트래킹하고 나머지는 무시

# 모든 파일과 폴더를 기본적으로 무시
/*

# Project/ 폴더만 트래킹 (모든 하위 폴더와 파일 포함)
!/Project/
!/Project/**/*

# 워크플로우 추적 파일들은 기본적으로 무시 (필요시 수동 추가)
!/workflow/
!/workflow/**
!/WorkFlow/
!/WorkFlow/**

# .gitignore 파일 자체도 트래킹
!.gitignore
